# =============== #
# Unity generated #
# =============== #
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
#[Bb]uild - commented out since FMOD has required folder with this name
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serSettings/

sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
/Assets/mcs.rsp*
/Assets/csc.rsp*
/Assets/Plugins/Personal*

# Never ignore Asset meta data
!/[Aa]ssets/**/*.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd

# =============== #
# Rider files     #
# =============== #
.idea/
/Assets/Plugins/Editor/JetBrains*
/*sln.DotSettings.user

# ============== #
# FMOD generated #
# ============== #
!/[Aa]ssets/Plugins/FMOD/**/*.dll
!/[Aa}ssets/Gizmos/FMOD/*
!/[Aa}ssets/Editor Default Resources/FMOD/*

/[Aa]ssets/**/FMODStudioCache.asset
/[Aa]ssets/**/FMODStudioCache.asset.meta
/[Aa]ssets/Plugins/FMOD/Cache.meta
/[Aa]ssets/Plugins/FMOD/Cache/Editor.meta
fmod.log
fmod_editor.log
/Assets/FMODAssets/*
/Assets/FMODStudioCache.meta

# ==================================== #
# FMOD Studio (in folder "FMOD Project") #
# ==================================== #
/FMOD Project/**/.user/
/FMOD Project/**/.unsaved/
/FMOD Project/**/.cache/
/FMOD Project/**/.restore/

# ==================================== #
# xUnit Tests #
# ==================================== #
/xUnitTests/packages
/xUnitTests/xUnitTests/bin
/xUnitTests/xUnitTests/obj